*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: antiquewhite;
} 

.containerM {
    width: 400px;
    height: 400px;
    background-color: antiquewhite;
    box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
}

.profile-pic{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    position: relative;
    top: 28px;
    left: 140px;
    box-shadow: 0 8px 5px rgba(0, 0, 0, 0.3);
}

.button{
    background-color: rgb(46, 46, 194);
    color: #fff;
    font-weight: 400;
    font-size: 14px;
    border: none;
    border-radius: 24px;
    padding: 8px 14px;
    width: 90px;
    position: relative;
    top: 190px;
    left: 44px;
    cursor: pointer;
}
h1 , p {
    position: relative;
    top: 194px;
    text-align: center;
}